/* CSS styles */
h1 {
  font-family: Impact, sans-serif;
}

input[type="checkbox"]{
  width:20px;
  height:20px;

}
.newinput{
  font-size:100pt;
}

input[type="checkbox"],.dec,#but,.tex{
  margin-left:40px;
}
label{
   font: normal  bold 20px/20px Georgia, serif;
}

.dectext{
  font-size:12pt;
}
legend,fieldset{
  font-weight: bold;
  font-size: 14pt;
}

textarea{
   margin-left:40px;
}
          