/* CSS styles */
body{
  margin: 15px;
  text-align: left;
  align: left;
  background-color:white;
}

h2{
  background-color:#04B4AE;
}

input.empty{
  margin-left: cm;
  /* margin:20px; */
}

.required{
 color:red;
}

.main-container{
  width:80%;
  margin:10px;
}

.buttons {
  background-color:#D8D8D8;
  /* color: white; */
  /* padding: 16px 20px; */
  /* margin: px 0; */
  /* border: none; */
  cursor: pointer;
  width: 150%;
  /* opacity: 0.9; */
  
}


p{
  text-decoration:underline;
}
 
input[type=text],select{
width: 50%;
margin: 8px 0;
padding: ;
display: inline-block;
border:1px solid #ccc;
box-sizing: border-box;
}

.container{
  float:left;
  width=50%;
}
div.radlab input[type=radio]{
  /* width: 50%; */
  margin-left:120px;
  /* list-style:square; */
}
button{
 background-color:#4CAF50;
 width: 10%;
 padding: 9px 5px;
 margin:5px 0;
 cursor:pointer;
 border:none;
 color:#ffffff;
  
 /* margin-left: 80px; */
 }
 
button:hover{
opacity:0.8;
}
 