/* CSS styles */
body{
  margin:15px;
  text-align: left;
  /* width:100%; */
  /* margin:auto; */
  /* align: left; */
  background-color:white;
  /* margin-bottom:0px; */
}

h2{
  background-color:#04B4AE;
}

.required{
 color:red;
}

.main-container{
  width:80%;
  margin:10px;
}

.leftlabel{
  width:150px;
  display:inline-block;
}

.rightlabel{
  width:240px;
  display:inline-block;
}
/* .label-inputl{
  display:inline;
} */

.buttons {
  /* background-color:#D8D8D8;
  cursor: pointer;
  width: 100%;
  margin:auto; */
  margin-bottom:0px;


  /* background-color: #f1f1f1;
  text-align: center;
  width:100%; */

  /* position:absolute;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
  /* background:#6cf;   */ */
  
    /* position: left;  */
  
    clear: both; 
  /* color: #ffffff;  */
  background-color:#D8D8D8; 
  /* text-align:center;  */
  height: 40px;	 
  line-height: 20px; 
  font-size: 80%; 
  /* margin-left:-100%; 
  margin-right:-100%;  */
  /* position:abosulte; */



  position: fixed;
  left: 0;
  bottom: 5px;
  width: 100%;
  /* background-color: red; */
  color: white;
  text-align: center;
}

.left{
  width:50%;
  float:left;
}

.right{
  width:50%;
  float:right;
}


p{
  text-decoration:underline;
}
 
input[type=text],select{
width: 50%;
margin: 8px 0;

display: inline-block;
border:1px solid #ccc;
box-sizing: border-box;
}

/* .container{
  float:left;
  width=50%;
} */
div.radlab input[type=radio]{
  /* width: 50%; */
  margin-left:240px;
  /* list-style:square; */
}
button{
 background-color:#4CAF50;
 width: 8%;
 padding: 9px 5px;
 margin:5px 0;
 cursor:pointer;
 border:none;
 color:#ffffff;
  
 /* margin-left: 80px; */
 }
 
button:hover{
opacity:0.8;
}
 